label{
    display: inline-block;
    float: left;
    clear: left;
    width: 100%;
    text-align: left;
}
input {
  display: inline-block;
  float: left;
  width: 100%;
}

.social {
width: 30%;
margin-right: 1px;
}

#outputtext {
    padding: 0 0.4em;
    font-size: 0.5em;
    font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New";
}

#outputhtml {
line-height: 1em;
}