<p style="text-align: center;">Fill out the form below to generate your own personalised Greens email signature. Copy and paste the generated signature into your email client's "signature" setting - some clients might want the "HTML" code, which is also provided.</p>
<hr>
<div id="form" style="width: 45%; float: left; margin-right: 5%;">
	<form id="signature"><label for="name">Name</label><input name="name" placeholder="Scott Ludlam" type="text"> <label for="title">Title/Tagline</label><input name="title" placeholder="Senator for Western Australia &amp; Co-Deputy Leader" type="text"> <label for="faction">Group/Organisation</label><input name="faction" placeholder="Australian Greens" type="text"> <label for="address">Address</label><input name="address" placeholder="8 Cantonment Street, Fremantle, WA 6160" type="text"> <label for="phone">Phone</label><input name="phone" placeholder="08 9335 7477" type="text"> <label>Skype/Twitter/Facebook</label><input class="social" name="skype" placeholder="Senator.Scott.Ludlam" type="text"> <input class="social" name="twitter" placeholder="@SenatorLudlam" type="text"> <input class="social" name="facebook" placeholder="/SenatorLudlam" type="text"> <label for="web">Website (no http://)</label><input name="web" placeholder="scott-ludlam.greensmps.org.au" type="text"><label for="image">Image URL</label><input name="image" placeholder="http://greens.org.au/signature.jpg" value="http://greens.org.au/sites/greens.org.au/files/standing-up-sig.jpg"><button onclick="makeSignature()" style="width: 100%;" type="button">Generate</button></form>
</div>
<div id="outputhtml" style="width: 45%; margin-bottom: 50px; float: left;">Your signature will appear here as formatted text</div>
<div style="width: 45%; float: left;">
	<div id="outputtext">Your signature will appear here as HTML source</div>
</div>
<div style="clear:both;">
	<p>Please note: image is optional and template is available from <a href="https://creative.greens.org.au/?r=4865">ResourceSpace</a>. To use the current default image, paste&nbsp;http://greens.org.au/sites/greens.org.au/files/standing-up-sig.jpg.</p>
</div>
<p>&nbsp;</p>